/* ==========================================================================
   Базовые стили
   ========================================================================== */
@import "vendors/normalize";
@import "vendors/selectric";
@import "vendors/modal-window";
@import "typography";
@import "layout";

/* ==========================================================================
   Меню
   ========================================================================== */
@import "../components/menu/main_menu/styles";

/* ==========================================================================
   Button
   ========================================================================== */
@import "../components/button/styles";

/* ==========================================================================
   Input
   ========================================================================== */
@import "../components/input/styles";

/* ==========================================================================
   Dropdown
   ========================================================================== */
@import "../components/dropdown/styles";

/* ==========================================================================
   Textarea
   ========================================================================== */
@import "../components/textarea/styles";

/* ==========================================================================
   Tabs
   ========================================================================== */
@import "../components/tabs/styles";

.tooltip {
  width:350px;
  font-family:Helvetica,Arial,sans-serif;
  font-weight:100;
  font-size:20px;
  text-align:center;
  padding:50px;
  margin:100px auto;
  background:white;
  position:relative;
  border-radius:5px;
  box-shadow:10px 10px 0px rgba(0,0,0,.05);
  
  &:before {
	content:attr(data-description);
	box-sizing:border-box;
	display:block;
	background: #abc42a;
	padding:20px;
	position:absolute;
	left:50%;
	top:-30px;
	margin-left:-100px;
	width:200px;
	height:65px;
	line-height:25px;
	border-radius:5px;
	opacity:0;
	transition:.25s ease-in-out;
	
	&:hover {
	  opacity:1;
	  top:-50px;
	}
  }
  
  &:after {
	content:'';
	display:block;
	position:absolute;
	top:35px;
	left:50%;
	margin-left:-8px;
	height:0;
	width:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid rgba(0,0,0,.7);
	transition:.25s ease-in-out;
	opacity:0;
	
	&:hover {
	  opacity:1;
	  top:15px;
	}
  }
}

.list-style-dash {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-content: center;

  & li:before {
	content: "\2014";
	align-self: center;
	height: 10px;
	width: 10px;
	margin-right: 5px;
	
  }
}

dt {
  display: inline-block;
  float: left;
}


/* ==========================================================================
   Catalog brands
   ========================================================================== */
.catalog-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}
.catalog-brands__item {
  display: inline-block;
  width: 23%;
  border: 1px solid rgb(211, 211, 211);
  margin: 10px;
  -moz-transition: box-shadow .6s ease;
  -o-transition: box-shadow .6s ease;
  -webkit-transition: box-shadow .6s ease;
  
  &:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
	border: 1px solid white;
	background: white;
	position: relative;
	
	& .catalog-brands__block-img:after {
	background: #abc42a;
	}
  }
}
.catalog-brands div:nth-child(4n+1) {
  margin-left: 0;
}
.catalog-brands div:nth-child(4n) {
  margin-right: 0;
}
.catalog-brands__link {
  display: block;
  padding: 15px;
  cursor: pointer;
}
.catalog-brands__block-img {
  width: 100%;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 48px;
  position: relative;
  
  &:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #aaa;
  }
}
.catalog-brands__img {
  max-width: 100%;
  max-height: 100%;
}
.catalog-brands__info {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  color: rgb(120, 120, 120);
}
.button-block {
  text-align: center;
}
.catalog-brands__price-old-number {
  position: relative;
  margin-left: 5px;
  padding: 0 3px;
  font-size: 20px;
  
  &:after {
	content: "";
	position: absolute;
	height: 3px;
	border-radius: 3px;
	width: 100%;
	background: #ff0707;
	opacity: .5;
	top: 10px;
	left: 0;
  }
}
.catalog-brands__price {
  font-size: 34px;
  color: rgba(10, 10, 10, 0.87);
  padding-left: 20px;
}
.catalog-brands__price-text {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  opacity: .61;
  margin-top: 10px;
}
.catalog-brands-favorites {
  display: none;
  width: 70px;
  height: 70px;
  background-color: rgb(230, 229, 229);
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.32),
  			  inset 4px 0 10px -5px rgba(0, 0, 0, 0.24);
  position: absolute;
  right: -71px;
  top: 63px;
  z-index: 100;
  
  & .catalog-brands-favorites-wrap {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-sizing: content-box;
	cursor: pointer;
	
	&:after {
	  content:' ';
	  display: inline-block;
	  background: url("../images/icon.svg") no-repeat -5px -119px;
	  height: 22px;
	  width: 25px;
	  margin: 12px 11px;
	}
	
	&:active:after {
	  background-position: -5px -151px;
	}
  }
}
.catalog-brands__item:hover .catalog-brands-favorites {
  display: block;
}

/* ==========================================================================
   Filter
   ========================================================================== */
.filter {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
  position: relative;
}
.filter-search {
  position: relative;
  width: 296px;
  overflow: hidden;
  
  & .input-filter-search {
	width: 100%;
	padding-left: 52px;
  }
}
.input-filter-submit {
	background: url("../images/icon.svg") no-repeat -5px -355px;
	height: 18px;
	width: 30px;
	position: absolute;
	left: 19px;
  	top: 16px;
  	padding: 0;
  	border: none;
	z-index: 100;
  }
.filter-sort {
  margin: 0 30px 0 10px;
  position: relative;
}

/* ==========================================================================
   Balance
   ========================================================================== */
.balance {
  
  & .balance-status {
	display: flex;
	margin-bottom: 30px;
  }
  
  & .balance-item {
	position: relative;
	padding-right: 95px;
  }
  
  & .balance-item_status {
	color: rgba(43, 43, 43, 0.87);
	font-size: 13px;
	padding-left: 15px;
  }
  
  & .balance-item_status:before {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
  }
  
  & .balance-item_status.balance-item_status-available:before {
	background: #1acf54;
  }
  
  & .balance-item_status.balance-item_status-expected:before {
	background: #d2d2d2;
  }
  
  & .balance-item_price {
	display: inline-block;
	margin-top: 10px;
	font-size: 35px;
	font-weight: bold;
	
	&.balance-item_price-status-expected {
		color: rgba(10, 10, 10, 0.34);
	}
  }
  
  & .balance-info {
	display: flex;
	flex-direction: column;
	width: 265px;
	font-size: 11px;
	color: rgba(146, 146, 146, 0.87);
	text-align: left;
	line-height: 17px;
	margin-bottom: 30px;
  }
  
  & .balance-info-item {
	margin-bottom: 15px;
	position: relative;
	display: flex;
	align-items: center;
	
	&:before {
	  content: "";
	  background-image: url("../images/icon-balance-info.svg");
	  align-self: center;
	  margin-right: 11px;
	  height: 26px;
	}
	
	&.balance-info_min-price:before {
	  background-position: 5px 26px;
	  width: 26px;
	}
 
	&.balance-info_conversion:before {
	  background-position: 5px 2px;
	  width: 44px;
	}
  }
}
.balance-button .button {
  margin-right: 15px;
}
.cacheback-info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: rgba(146, 146, 146, 0.87);
  line-height: 17px;
  text-align: left;
  margin-bottom: 57px;
  
  & .cacheback-info_steps {
	padding-left: 40px;
	position: relative;
	width: 295px;
	box-sizing: border-box;
	
	&:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 28px;
	  width: 28px;
	  background: #750d70 no-repeat center / auto 16px;
	  border-radius: 50%;
	}
	
	&.cacheback-info_steps-first:before {
	  background-image: url("../images/icon-purse.png");
	  background-size: auto 14px;
	}
 
	&.cacheback-info_steps-second:before {
	  background-image: url("../images/icon-clock.svg");
	}
	&.cacheback-info_steps-third:before {
	  background-image: url("../images/icon-info.svg");
	}
  }
}

/* ==========================================================================
   Operations history
   ========================================================================== */
.operations-history_header-table {
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background: none;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  display: flex;
  color: rgba(0, 0, 0, 0.34);
}
.operations-history .operations-history_row {
  display: flex;
  font-family: "Open Sans",sans-serif;
  border-bottom: 1px solid #adc726;
  padding: 20px 0;
  color: rgba(43, 43, 43, 0.87);
  
  &:nth-child(2n) {
	border-color: rgba(117, 13, 112, 0.52);
  }
  
  &:last-child {
	border: none;
  }
}
.operations-history_img-info {
  display: flex;
}
.operations-history_cell_info {
  margin: 10px 20px;
}
.operations-history_cell_img {
  width: 91px;
  height: 68px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  
  & img {
	width: 100%;
	align-self:center;
  }
}
.operations-history_name_brand {
  font-size: 18px;
  color: rgba(43, 43, 43, 0.87);
  
  & a {
	color: #0e7ac4;
  }
}
.operations-history_row .operations-history_cell:first-child {
	width: 400px;
}
.operations-history_header-table .operations-history_cell:first-child {
  width: 385px;
}
.operations-history_row .operations-history_cell:nth-child(2),
.operations-history_header-table .operations-history_cell:nth-child(2) {
  width: 125px;
}
.operations-history_row .operations-history_cell:nth-child(3),
.operations-history_header-table .operations-history_cell:nth-child(3) {
  padding-left: 50px;
  width: 260px;
}
.operations-history_row .operations-history_cell:nth-child(4),
.operations-history_header-table .operations-history_cell:nth-child(4) {
  width: 60px;
}
.operations-history_row .operations-history_cell:nth-child(4) {
  padding-right: 15px;
}
.operations-history_row .operations-history_cell:nth-child(n+2) {
  margin: 10px 0;
}
.operations-history_cell_price {
  font-size: 14px;
  margin-top: 20px;
  line-height: 22px;
  
}
.operations-history_status {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  
  &.operations-history_status-confirmed:before {
	background: #38ce6d;
  }
  
  &.operations-history_status-awaiting-confirmation:before {
	background: #ffc500;
  }
  
  &.operations-history_status-canceled:before {
	background: #fe6063;
  }
  
  &:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	align-self: center;
	left: 0;
  }

}
.operations-history_bonus {
  color: rgba(0, 0, 0, 0.34);
}
.operations-history_bonus-confirmed {
	color: #38ce6d;
}
.operations-history_button {
  margin: 60px 0 90px ;
  text-align: center;
}
.operations-history_awaiting-confirmation {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.34);
}

/* ==========================================================================
   Feedback form
   ========================================================================== */
.feedback {
  margin-bottom: 57px;
}
.feedback-form_row {
  width: 510px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  
  ::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.5);}
  ::-moz-placeholder          {color: rgba(0, 0, 0, 0.5);}/* Firefox 19+ */
  :-moz-placeholder           {color: rgba(0, 0, 0, 0.5);}/* Firefox 18- */
  :-ms-input-placeholder      {color: rgba(0, 0, 0, 0.5);}
  
  & .feedback-form_client-info {
	width: 50%;
	
	&:first-child {
	  margin-right: 10px;
	}
  }
  
  & .feedback-form_content {
	width: 100%;
  }
  
  & textarea.feedback-form_content {
	height: 155px;
  }
}
.feedback-form .feedback-form_row textarea {
  margin-bottom: 40px;
}

//QW
details.questions-answers {
  margin-bottom: 20px;
  color: rgba(43, 43, 43, 0.87);
  line-height: 32px;
  
  & summary {
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 39px 0 rgba(0, 0, 0, 0.06);
	padding: 25px 46px;
	outline: none;
	cursor: pointer;
	
	&::-webkit-details-marker {
	  text-align: right;
	}
  }
  
  & .questions-answers_text {
	padding: 0 40px;
  }

}

/* ==========================================================================
   Modal window
   ========================================================================== */
#animatedModal {
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal-wrapper {
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}
.modal-container {
  width: 787px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  position: relative;
  font: 14px "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  
  & .modal__tabs h3 {
	color: #2b2b2b;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 28px;
	padding: 35px 35px 0 35px;
  }
  
  & h3 {
	font-weight: normal;
  }
  
}
.close-animatedModal {
  position: absolute;
  right: -33px;
  cursor: pointer;
  
  &:before {
	content: "";
	background: url("../images/icon-close.svg") no-repeat center;
	height: 23px;
	width: 23px;
	top: 0;
	left: 0;
	display: block;
  }
  
  &:hover,
  &:active {
	&:before {
	  background-size: 75%;
	}
  }
}
#modal-content {
  display: flex;
  width: 100%;
}
.modal__tabs {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #f7f7f7;
  border-radius: 4px 0 0 4px;
  
  & li.r-tabs-state-active:last-child .r-tabs-anchor,
  & li:last-child:hover .r-tabs-anchor {
	border-radius: 0 0 0 4px;
  }
}
.model__tabs-content {
  padding: 35px;
  position: relative;
}
.modal-tabs__content-container {
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.54);
}

.modal-tabs__icon .r-tabs-anchor {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-content: center;
  align-items: center;
  
  &:before {
	content: "";
	background-image: url(../images/icon.svg);
	width: 55px;
	height: 45px;
	align-self: center;
	margin-right: 10px;
	transition: background-image 1s ease;
  }
  
  &:hover {
	color: #750d70;
	background-color: #f2f2f2;
	cursor: pointer;
  }
}
.modal-tabs__icon:hover {
  cursor: pointer;
}

.modal-tabs__icon-bank .r-tabs-anchor:before {
  background-position: 5px 512px;
}
.modal-tabs__icon-bank.r-tabs-state-active .r-tabs-anchor:before,
.modal-tabs__icon-bank:hover .r-tabs-anchor:before {
  background-position: 5px 469px;
}
.modal-tabs__icon-phone .r-tabs-anchor:before {
  background-position: 5px 304px;
}
.modal-tabs__icon-phone.r-tabs-state-active .r-tabs-anchor:before,
.modal-tabs__icon-phone:hover .r-tabs-anchor:before {
  background-position: 5px 250px;
}
.modal-tabs__icon-insurance .r-tabs-anchor:before {
  background-position: 5px 131px;
}
.modal-tabs__icon-insurance.r-tabs-state-active .r-tabs-anchor:before,
.modal-tabs__icon-insurance:hover .r-tabs-anchor:before {
  background-position: 5px 81px;
}

/* ==========================================================================
   Form get bonus
   ========================================================================== */
.enter-bonuses {
  margin: 40px 0 20px;
  
  & input {
	margin-left: 15px;
  }
}
form.form-enter-bonuses {
  
  & .input-card-number {
	display: block;
	width: 357px;
	margin-bottom: 12px;
  }
  
  & .form-enter-bonuses__button {
	text-align: center;
	margin-top: 35px;
  }
  
  & ul.save-list-card {
	margin-bottom: 22px;
	
	& li {
	  margin-bottom: 15px;
	  display: flex;
	}
	
	& .link-delete {
	  font-size: 11px;
	}
  }
  
  & input {
	color: rgba(0, 0, 0, 0.87);
  }
  
  .label-save-card {
	margin-left: 5px;
  }
}

/* ==========================================================================
   Partner info page
   ========================================================================== */
.partner-balance {
  margin-bottom: 57px;
}
.logo-partner {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  
  &:before {
	content: "";
	height: 18px;
	width: 50px;
	background: url("../images/icon.svg") no-repeat 5px -115px / 40px auto;
  }
}
.balance-status-partner {
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	justify-content: space-between;
  	margin-bottom: 50px;
  
  & .balance-item_price {
	font-size: 37px;
	line-height: 45px;
  }
  
  & .balance-button {
	flex-grow: 1;
	margin-left: 160px;
	
	& .button {
	  padding: 18px 60px;
	}
  }
  
  & .balance-info {
	margin-top: 25px;
	font-size: 11px;
	
	& a {
	  text-decoration: underline;
	}
	
	& .balance-info-item {
	  width: 245px;
	  line-height: 17px;
	  
	  &.balance-info-item__buy-rules {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: center;
		width: 285px;
	  
		&:before {
		  content: "i";
		  height: 18px;
		  width: 18px;
		  border: 1px solid rgba(146, 146, 146, 0.87);
		  font-size: 14px;
		  display: block;
		  border-radius: 50%;
		  text-align: center;
		  margin-right: 15px;
		  padding: 0 5px;
		}
	  }
	  
	}
  }
}
ol.cacheback_steps-partner {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 700px;

  & li.cacheback-steps-partner__item {
	padding-left: 40px;
	position: relative;
	box-sizing: border-box;
	list-style-type:none;
	counter-increment: list;

	max-width: 250px;
	
	&:before {
	  height: 28px;
	  width: 28px;
	  background: #aac327;
	  border-radius: 50%;
	  content: counter(list) " ";
	  color: black;
	  text-align: center;
	  line-height: 25px;
	  font-size: 13px;
	  position: absolute;
	  top:0;
	  left: 0;
	  margin-right: 12px;
	}
  }
  
}
.partner-description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.75;
  letter-spacing: -0.4px;
  text-align: left;
}


