button {
  padding: 16px 41px;
  border-radius: 100px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  outline: none;
  border: 1px solid;
	-moz-transition: background .6s ease, border-color .6s ease;
	-o-transition: background .6s ease, border-color .6s ease;
	-webkit-transition: background .6s ease, border-color .6s ease;
  transition: background .6s ease, border-color .6s ease;
}