.btn-color-green {
  background: #abc42a;
  border-color: #abc42a;
  color: black;

  &:hover {
	background: #bcd733;
    border-color: #bcd733;
    }
  &:active {
    background: #98af24;
    border-color: #98af24;
  }
  
  &.btn-get-bonus {
    padding-left: 70px;
    padding-right: 70px;
  }
}