
<html>
  <body>
    <!-- HEADER-->
    <!-- БОКОВОЕ МЕНЮ-->
    <h1>Бонусный счет</h1>
    <nav class="menu-wrapper">
      <!-- Меню-->
      <ul class="menu  main__menu" id="menu">
              <li class="menu__item"><a class="menu__link" href="##">Мой профиль</a></li>
              <li class="menu__item"><a class="menu__link" href="##">Избранное (5)</a></li>
              <li class="menu__item"><a class="menu__link" href="##">Сообщить о проблеме</a></li>
              <li class="menu__item"><a class="menu__link" href="##">Выход</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- ОСНОВНОЙ КОНЕТЕНТ-->
    <!-- FOOTER-->
  </body>
</html>