//- Название организации
-
	var companyName = 'Компания «Event organizer»'
-
	var companyNameShort = 'Event organizer'



// - Категории
-
	var category_list = [
	{
	category_name: "Все категории",
	category_name_eng: "all-category",
	category_quantity: 623
	},
	{
	category_name: "Детям",
	category_name_eng: "children",
	category_quantity: 12
	},
	{
	category_name: "Доставка еды",
	category_name_eng: "food-delivery",
	category_quantity: 12
	},
	{
	category_name: "Интерьер",
	category_name_eng: "interior",
	category_quantity: 12
	},
	{
	category_name: "Книги",
	category_name_eng: "books",
	category_quantity: 12
	},
	{
	category_name: "Медицина",
	category_name_eng: "medicine",
	category_quantity: 12
	},
	{
	category_name: "Одежда и обувь",
	category_name_eng: "clothes-footwear",
	category_quantity: 12
	},
	{
	category_name: "Праздники",
	category_name_eng: "holidays",
	category_quantity: 12
	},
	{
	category_name: "Продукты",
	category_name_eng: "foods",
	category_quantity: 12
	},
	{
	category_name: "Работа и образование",
	category_name_eng: "work-education",
	category_quantity: 12
	},
	{
	category_name: "Развлечения",
	category_name_eng: "entertainment",
	category_quantity: 12
	},
	{
	category_name: "Сад",
	category_name_eng: "garden",
	category_quantity: 12
	},
	{
	category_name: "Салоны красоты",
	category_name_eng: "salon-beauty",
	category_quantity: 12
	},
	{
	category_name: "Софт и игры",
	category_name_eng: "soft-game",
	category_quantity: 12
	},
	{
	category_name: "Спорт",
	category_name_eng: "sport",
	category_quantity: 12
	},
	{
	category_name: "Страхование и финансы",
	category_name_eng: "insurance-finance",
	category_quantity: 12
	},
	{
	category_name: "Товары для авто",
	category_name_eng: "goods-cars",
	category_quantity: 12
	},
	{
	category_name: "Товары и купоны",
	category_name_eng: "goods-coupons",
	category_quantity: 12
	},
	{
	category_name: "Туризм",
	category_name_eng: "tourism",
	category_quantity: 12
	},
	{
	category_name: "Фастфуд",
	category_name_eng: "fastfood",
	category_quantity: 12
	},
	{
	category_name: "Услуги",
	category_name_eng: "services",
	category_quantity: 12
	},
	{
	category_name: "Хостинг",
	category_name_eng: "hosting",
	category_quantity: 12
	},
	{
	category_name: "Цветы",
	category_name_eng: "flowers",
	category_quantity: 12
	},
	{
	category_name: "Ювелирные украшения",
	category_name_eng: "jewelry",
	category_quantity: 12
	}
	];



// - Каталог брендов
-
	var catalog_brands = [
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/megafon.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "3 761",
	purchase_date: "19 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+92"
	},
	{
	name_brand: "М.Видео",
	name_brand_eng: "mvideo",
	logo_brand: "../../images/mvideo.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+27"
	},
	{
	name_brand: "LaModa",
	name_brand_eng: "lamoda",
	logo_brand: "../../images/lamoda.svg",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Ожидается подтверждение",
	purchase_status_eng: "awaiting-confirmation",
	bonus: "+27",
	awaiting_confirmation: "~ через 26 дней "
	},
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/media-markt.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Отменено",
	purchase_status_eng: "canceled",
	bonus: "–"
	},
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/media-markt.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+27"
	},
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/media-markt.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+27"
	},
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/media-markt.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+27"
	},
	{
	name_brand: "Мегафон",
	name_brand_eng: "megafon",
	logo_brand: "../../images/media-markt.png",
	old_bonus: 10,
	bonus_brand: 50,
	purchase_number: 370320403,
	purchase_price: "5 761",
	purchase_date: "18 августа 15:27",
	purchase_status: "Подтверждено",
	purchase_status_eng: "confirmed",
	bonus: "+27"
	}
	];

