extends ../layout/layout.pug

block variables
	- var  current = 'Карточка партнера'

block content
	// Информация о счете у партнера
	.content-top-info.partner-balance
		// Логотип партнера
		.logo-partner
			img(src="../../images/megafon.png")
		// Баланс счета
		.balance-status.balance-status-partner
			.balance-item
				span.balance-item_status Баллы
				br
				span.balance-item_price до 15,6%
				.balance-info
					.balance-info-item 30 дней &mdash; среднее время ожидания баллов
			.balance-button
				button.button.btn-color-purple Перейти в магазин
				.balance-info
					.balance-info-item.balance-info-item__buy-rules.color-grey
						span
							| Перед совершением покупок, ознакомьтесь, с
							|
							a(href='#') правилами покупок
							|
							| с кэшбэком.

		// Основные этапы получения бонусов
		ol.cacheback-info.cacheback_steps-partner
			li.cacheback-steps-partner__item
				|Перейдите на сайт
			li.cacheback-steps-partner__item
				| Оплатите заказ удобным способом
			li.cacheback-steps-partner__item
				| Получите кэшбэк в виде баллов на свой бонусный счет

	//	Заголовок Н2
	h2 Покупки с кэшбэком в Мегафон

	.partner-description
		p
			| Мегафон — интернет-магазин детских товаров, специализирующийся, по большей части, на продаже средств для перевозки детей. Общий ассортимент довольно широк: детские коляски, аксессуары к ним, автокресла, рюкзаки-переноски, слинги, мебель для новорожденных, постельные принадлежности, комбинезоны, манежи, товары для кормления, средства гигиены, развивающие игрушки, детский транспорт, все для игры на улице. Компания является официальным представителем всех брендов, представленных на сайте. Часть из них: Ardo, Bambolina, Christ, DigiBath, Explore, Funnababy, Noony, Polette Plus, Simplicity, Vulli, Yamaha и т.д.

		p
			|Один из крупнейших российских ритейлеров детских товаров больше известен как онлайн-платформа, где можно купить
			|детскую коляску. Как правило, этот предмет становится одним из первых вещей, необходимых новорожденному. На
			|Kupi-kolyasku.ru вы сможете подобрать вариант, идеально подходящий именно для вашего малыша: люльку, трансформер,
			|модель «2 в 1» или «3 в 1». Здесь вы найдете все, что необходимо для создания радостной и уютной обстановки
			|счастливого детства. Kupi-Kolyasku — комфорт для мам и малышей!

		h4 Преимущества:
		ul.list-style-dash
			li прямые поставки от производителей;
			li широкий ассортимент детских колясок;
			li разные ценовые категории;
			li бесплатная доставка по Москве (при заказе от 5000 бонусных рублей);
			li доставка по всей России;
			li самовывоз;
			li множество видов оплат.
		br

		h4 Кэшбэк по категориям:
		dl
			dt 1%
				dd КБТ, Игровая техника, Телеком
			dt 2%
				dd Аудио и Видеотехника, Компьютеры, Фото-Автотехника