doctype html
html
	head
		include ../layout/head.pug

	body
		.wrapper.points-activate-container
			.points-activate
				.points-activate__status
					.logo
						img(src="../../images/logo-renaissance.png")
					h1 Ваши баллы в М.Видео активированы
					span и будут зачислены после покупки
					.points-activate__points
						span.points-activate__percent 8,5%
						|баллы
						span.circles
				.points-activate__button-wrap
					.points-activate__button
						button.button.btn-color-green Продолжить покупки сейчас