doctype html
html
	head
		include ../layout/head.pug

	body
		.wrapper
			.application-status-container
				.application-status Заявка на вывод 1 253 бонусов успешно создана

				p
					| Совсем скоро бонусы будут зачислены на +7 (962) 948-78-88
				p
					| В редких случаях срок зачисления может составлять
					| до 3-х рабочих дней.

				.application-status__button
					button.button.btn-color-green Продолжить покупки



