extends ../layout/layout.pug

block variables
	- var  current = 'Сообщить о проблеме'


block content
	// Форма обратной связи
	.content-top-info.feedback
		form.feedback-form(action="" method="")
			.feedback-form_row
				input.input.input-gray.feedback-form_client-info(type="text", placeholder="Ваше имя")
				input.input.input-gray.feedback-form_client-info(type="email", placeholder="Электронная почта")
			.feedback-form_row
				input.input.input-gray.feedback-form_content(type="text", placeholder="Тема обращения")
			.feedback-form_row
				textarea.textarea.textarea-gray.feedback-form_content(name="textarea", placeholder="Расскажите о проблеме")
			button(type="submit" class="btn-color-green") Задать вопрос

	//	Заголовок Н2
	h2 Вопросы и ответы

	//	Вопросы и ответы
	details(open).questions-answers
		summary Что такое Бонусный клуб Ренессанс?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| по купателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Что такое кэшбэк?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Как узнать размер кэшбэка?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Что такое баллы?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Как узнать размер кэшбэка?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Я совершил(-а) покупку. Когда я получу кэшбэк?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Сколько баллов я могу вывести на баланс телефона?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.
	details.questions-answers
		summary Сколько баллов я могу вывести на баланс телефона?
		p.questions-answers_text Бонусный клуб Ренессанс — это программа лояльности федерального масштаба, позволяющая
			| покупателям получать лучшие предложения от ведущих российских компаний. Мы даем возможность накапливать
			| бонусные баллы за покупки и расплачиваться ими в счет последующих приобретений.

