input::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.54); text-overflow:ellipsis;}
input::-moz-placeholder          {color:rgba(0, 0, 0, 0.54); text-overflow:ellipsis;}/* Firefox 19+ */
input:-moz-placeholder           {color:rgba(0, 0, 0, 0.54); text-overflow:ellipsis;}/* Firefox 18- */
input:-ms-input-placeholder      {color:rgba(0, 0, 0, 0.54); text-overflow:ellipsis;}
input[placeholder] {color:rgba(0, 0, 0, 0.54); text-overflow:ellipsis;}


.input {
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  padding: 15px 18px;
  box-sizing: border-box;
  text-align: left;
  outline: none;
  cursor: pointer;
  color: #4c4c4c;
	-moz-transition: border-color .6s ease;
	-o-transition: border-color .6s ease;
    -webkit-transition: border-color .6s ease;
  transition: border-color .6s ease;
}

// Checkbox
label {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  align-content: center;
  margin-right: 30px;
}
input[type=checkbox] {
  display: none;
  
  &+label {
	padding-left: 26px;
 
	&:before {
	  content: "";
	  width: 16px;
	  height: 16px;
	  margin-right: 10px;
	  border-radius: 3px;
	  border: solid 1px rgb(221, 221, 221);
	  background: white;
	  position: absolute;
	  left: 0;
	  align-self: center;
	}
  }
  
  
  &:checked + label:before {
	content: "\f00c";
	font-size: 11px;
	color: #f3f3f3;
	text-align: center;
	line-height: 17px;
	font-family: FontAwesome;
	background: #abc42a;
	border-color: #abc42a;
  }
}

// Radio
input[type=radio] {
  display: none;

  &+span {
	-webkit-appearance:none;
	width:22px;
	height:22px;
	border:1px solid #979797;
	outline:none;
	margin-right: 10px;
	box-sizing:border-box;
	display:inline-block;
	border-radius:100%;
  }
  
  &:checked+span {
	border: 2px solid #750d70;
	
	&:before{
	  content:"";
	  display:block;
	  background:#750d70;
	  border: 2px solid #750d70;
	  border-radius:100%;
	  width:10px;
	  height:10px;
	  margin:2px;
	  pointer-events:none;
	}
  }
}
